/*General*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #555;
    background-color: #f7f7f7;
  }
  
  /*Footer*/
  footer{
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 50px 0;
    background-color: #131622;
    color: #fff;
    text-align: center;
    background-color: cadetblue;
  }
  
  footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 10px;
  }
  
  /*Hero*/

  .hero{
    background-color: #60899a;
    color: #fff;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh; 
  }

  @media only screen and (max-width: 575px){
    .hero p.hero-title{
        padding-top: 60px;
        font-size: 35px;
        flex-wrap: wrap;
        letter-spacing: 1.2rem;
        font-family: 'Oswald', sans-serif;
        text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .hero-img-container .hero-img{
        max-width: 100%;
        padding: 40px;
      }
  }
  
  @media only screen and (min-width: 576px){
      .hero p.hero-title{
          font-family: 'Oswald', sans-serif;
          padding-top: 80px;
          flex-wrap: wrap;
          letter-spacing: 1.2rem;
          font-size: 38px;
          text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
      }
      .hero-img-container .hero-img{
        width: 650px;
        padding: 40px;
      }
  }
  
  @media only screen and (min-width: 768px){
      .hero p.hero-title{
        font-family: 'Oswald', sans-serif;
        padding-top: 90px;
        flex-wrap: wrap;
        letter-spacing: 1.2rem;
        font-size: 50px;
        text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
      }
      .hero-img-container .hero-img{
        width: 750px;
        padding: 40px;
      }
  }

  @media only screen and (min-width: 992px){
    .hero p.hero-title{
        font-family: 'Oswald', sans-serif;
        padding-top: 90px;
        flex-wrap: wrap;
        letter-spacing: 1.2rem;
        font-size: 60px;
        text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
      }
      .hero-img-container .hero-img{
        width: 850px;
        padding: 40px;
      }
  }

  @media only screen and (min-width: 1200px){
    .hero p.hero-title{
        font-family: 'Oswald', sans-serif;
        padding-top: 90px;
        flex-wrap: wrap;
        letter-spacing: 1.2rem;
        font-size: 70px;
        text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
      }
      .hero-img-container .hero-img{
        width: 1050px;
        padding: 40px;
      }
}
  
  /*General Common styling*/
  a{
    color: #fff;
  }
  
  h1,h2,h3,h5,h6{
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }
  
  .projects-container{
    padding: 3rem;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
  }
  
  .articles-container,.tools-container,.contact-container, .about-container{
    padding: 3rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  
  h3.title{
    color: #f7f7f7;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: start;
    text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  /*Icons*/
  .fa-smile-beam{
      font-size: 25px;
      margin: 0 3px;
      color: #99ccff;
  }
  
  .fa-globe-americas{
      font-size: 25px;
      margin: 0 3px;
      color: #99ccff;
  }
  
  #about .peru-flag{
      width: 40px;
      height: 25px;
      margin: 0 6px;
  }
  
  .fa-pencil-alt{
      color:rgba(102, 204, 255, .7) ;
  }
  
  .fa-laptop-code{
      color:rgba(102, 204, 255, .7) ;
  }
  
  .fa-code{
      font-size: 20px;
      color:cadetblue; ;
      margin: 0 4px;
  }
  
  .fa-newspaper{
      color:rgba(102, 204, 255, .7) ;
     } 
  
  .fa-terminal{
      color:rgba(102, 204, 255, .7) ;
  }
  
    .fa-envelope{
      color:rgba(102, 204, 255, .7) ;
  }
  
  .fa-phone{
      color:rgba(102, 204, 255, .7) ;
  }
  
  .fa-linkedin{
      color:rgba(102, 204, 255, .7) ;
      font-size: 35px;
  }
  
  .fa-github{
      font-size: 35px;
      margin: 0 3px;
      color: #f7f7f7;
  }
  
  /*About*/
  .w-link{
      font-size: 15px;
      color:#99ccff;
      position: relative;
      transition: .5s;
  }
  
  .w-link:hover{
      text-decoration: none;
      background-color: cadetblue;
      padding: 2px;
      color: #f7f7f7;
  }

  .wiedergruen{
    font-size: 15px;
    color:#99ccff;
    position: relative;
    transition: .5s;
  }

  .wiedergruen:hover{
    text-decoration: none;
    background-color: cadetblue;
    padding: 2px;
    color: #f7f7f7;
  }
  
  .bryter{
      font-size: 15px;
      color:#99ccff;
      position: relative;
      transition: .5s;
  }
  
  .bryter:hover{
      color: #f7f7f7;
      background-color: cadetblue;
      text-decoration: none;
      padding: 2px;
  
  }
  
  /*About Common style*/
      #about{
          padding: 10px;
          margin-bottom: 20px;
      }
  
      span.name{
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 300;
      }
  
      .float-left{
          float:left;
         }
  
         .main-image{
          margin-right: 1.5em;
          border-radius: 3px;
          margin-bottom: 1em;
         }
  
         p.short-introduction{
             margin-bottom: 0.8rem;
         }
         
  @media only screen and (max-width: 575px){
      .about-container{
          max-width: 100%; 
      }
  
      .main-image{
          width:100%;
          height: auto;
       }
  
       .float-left{
         float:left;
      }
  }
  
  @media only screen and (min-width: 576px){
      .about-container{
          max-width: 540px; 
      }
  
      .main-image{
          width:100%;
       }
  }
  
  @media only screen and (min-width: 768px){
      .about-container{
          max-width: 720px; 
      }
  
      .main-image{
          width:40%;
     }
  }
  
  @media only screen and (min-width: 992px){
      .about-container{
          max-width: 960px; 
      }
  
      .main-image{
          width:40%;
      }
  }
  
  @media only screen and (min-width: 1200px){
  .about-container{
    max-width: 1140px; 
  }
  
  .main-image{
    width:27%;
   }
  }
  
  /*projects*/
  
  /*projects common style*/
  a.more-projects{
      color: #3399ff ;
      text-decoration: none;
  }
  
  h3.card-text{
      color: #e7d8d8 ;
      text-shadow: 2px 2px #60899a;
  }
  
  
  @media only screen and (max-width: 575px){
      .projects-container{
          max-width: 100%; 
      }
  }
  
  @media only screen and (min-width: 576px){
      .projects-container{
          max-width: 540px; 
      }
  }
  
  
  @media only screen and (min-width: 768px){
      .projects-container{
          max-width: 720px; 
      }
  }
  
  
  @media only screen and (min-width: 992px){
      .projects-container{
          max-width: 960px;
      }
  }
  
  
  @media only screen and (min-width: 1200px){
      .projects-container{
          max-width: 1140px; 
      }
  }
  
  /*Articles*/
  
  /*Articles Common styles*/
  
  section h3.article-title{
      color: #f7f7f7;
      text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 35px;
      text-align: center;
      padding-bottom: 15px;
  }
  
  p.comming-soon{
      margin: 0;
      padding: 0;
      color: aliceblue;
      padding-bottom: 20px;
      letter-spacing: 5px;
      text-shadow: 2px 2px #000;
      position: relative;
  }
  
  .meme{
      width: 345px;
      height: 269px;
  }
  
  @media only screen and (max-width: 575px){
      .articles-container{
          max-width: 100%; 
      }
  
      p.comming-soon{
          font-size: 40px;
      }
  }
  
  @media only screen and (min-width: 576px){
      .articles-container{
          max-width: 540px; 
      }
  
      p.comming-soon{
          font-size: 40px;
      }
  }
  
  @media only screen and (min-width: 768px){
      .articles-container{
          max-width: 720px; 
      }
  
      p.comming-soon{
          font-size: 60px;
      }
  }
  
  @media only screen and (min-width: 992px){
      .articles-container{
          max-width: 960px;
      }
  
      p.comming-soon{
          font-size: 70px;
      }
  }
  
  @media only screen and (min-width: 1200px){
      .articles-container{
          height: 500px;
          max-width: 1140px; 
      }
  
      p.comming-soon{
          font-size: 70px;
  
      }
  }
  
  /*Articles animation */
  section .cs-container{
      margin: 0;
      padding: 0;
      height: 100%;
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  @media only screen and (max-width: 575px){
    section .cs-container .article1{
        max-width: 100%;
    }

    img.article1{
        width: 100%;
        height: auto;
    }
  }

  @media only screen and (min-width: 576px){
    section .cs-container .article1{
        max-width: 540px; 
    }

    .article1{
        max-width: 468px;
       display: flex;
    }
    .article1-text-container{
        margin-right: 10px;
        max-width: 364px;
    }
    p.article1-decription{
        font-size: 14px;
        padding-right: 5px;
    }

    .article1-title{
        font-size: 17px;
        margin-bottom: 0;
        padding-bottom: 3px;
        text-align: start;
    }
    img.article1{
        width: 123px;
        height: 118px;
        margin-top: 8px;
    }
  }

  @media only screen and (min-width: 768px){
    section .cs-container .article1{
        max-width: 720px; 
    }

    .article1{
        max-width: 600px;
       display: flex;
    }

    .article1-text-container{
        margin-right: 10px;
        max-width: 450px;
    }

    p.article1-decription{
        font-size: 17px;
        padding-right: 5px;
    }

    .article1-title{
        font-size: 28px;
        padding-bottom: 8px;
        text-align: start;
    }
    img.article1{
        margin-top: 16px;
        width: 150px;
        height: 148px;
    }
  }

  @media only screen and (min-width: 992px){
    section .cs-container {
        max-width: 960px;
    }

    .article1{
        max-width: 700px;
       display: flex;
    }

    .article1-text-container{
        margin-right: 10px;
        max-width: 600px;
    }

    p.article1-decription{
        font-size: 17px;
        padding-right: 5px;
    }

    .article1-title{
        font-size: 29px;
        padding-bottom: 8px;
        text-align: start;
    }

    img.article1{
        width: 150px;
        height: 148px;
    }
  }

  @media only screen and (min-width: 1200px){
    section .cs-container {
        max-width: 1140px; 
    }

    .article1{
        max-width: 900px;
       display: flex;
    }

    .article1-text-container{
        margin-right: 10px;
        max-width: 600px;

    }

    p.article1-decription{
        font-size: 17px;
        padding-right: 5px;
    }

    .article1-title{
        font-size: 30px;
        padding-bottom: 8px;
        text-align: start;
    }

    img.article1{
        width: 150px;
        height: 148px;
    }
  }
  
  /*Tools*/
  
  /*Tools Common style*/
  
  .tools-title{
      font-family: 'Oswald', sans-serif;
      font-size: 35px;
      text-align: start;
  }
  
  .rotator-text{
      text-align: center;
      font-size: 20px;
      letter-spacing: 5px;
      position: relative;
      padding: 20px 0;
  }
  
    @media only screen and (max-width: 575px){
      .tools-container{
          max-width: 100%; 
      }
    }
  
    @media only screen and (min-width: 576px){
      .tools-container{
          max-width: 540px; 
      }
    }
  
    @media only screen and (min-width: 768px){
      .tools-container{
          max-width: 720px; 
      }
    }
  
    @media only screen and (min-width: 992px){
      .tools-container{
          max-width: 960px;
      }
    }
  
    @media only screen and (min-width: 1200px){
      .tools-container{
          max-width: 1140px; 
      }
    }
  
    /*Tools Animation*/
    .rotator-text span:before{
      content: "Javascript";
      text-transform: uppercase;
      color: cadetblue;
      animation: words-switch 5s infinite;
    }
  
    @keyframes words-switch{
        0%{
            content: "Javascript";
        }
  
        25%{
            content: "Vue.js";
        }
  
        50%{
            content: "Typescript";
        }
  
        75%{
            content: "Jest";
        }
  
        100%{
            content: "React.js";
        }
    }
  
  /*Contact*/
  
  /*Contact Common style*/
  section .contact-title{
      color: #f7f7f7;
      text-shadow: -1px 0 cadetblue, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 35px;
      text-align: center;
      padding-bottom: 15px;
  }
  
  @media only screen and (max-width: 575px){
      .contact-container{
          max-width: 100%; 
      }
  }
  
  @media only screen and (min-width: 576px){
      .contact-container{
          max-width: 540px; 
      }
  }
  
  @media only screen and (min-width: 768px){
      .contact-container{
          max-width: 720px; 
      }
  }
  
  @media only screen and (min-width: 992px){
      .contact-container{
          max-width: 960px;
      }
  }
  
  @media only screen and (min-width: 1200px){
      .contact-container{
          max-width: 1140px; 
      }
  }
  
  /*Header*/
  
  /*Header Common style*/
  header a:hover{
      opacity: 1;
  }

  
  @media only screen and (max-width: 575px){

    header{
        background-color: cadetblue;
        opacity: 0.;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 15px 100px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header{
        max-width: 100%;
    }

      .topnav a.icon {
          font-size: 25px;
          display: block;
          position: fixed;
          right: 0;
          top: 0;
        }
  
        .topnav {
          overflow: hidden;
          position: relative;
        }
        
        .topnav #myLinks {
          display: none;
        }
        
        .topnav a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          display: block;
          text-shadow: 2px 2px #000;
        }
  
        .mobile-container {
          max-width: 480px;
          margin: auto;
          color: white;
          border-radius: 10px;
        }
  
        header nav ul{
            display: none;
        }
  }
  
  @media only screen and (min-width: 576px){
    header{
        background-color: cadetblue;
        opacity: 0.;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 15px 100px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
      .topnav a.icon {
          font-size: 35px;
          display: block;
          position: fixed;
          right: 0;
          top: 0;
        }
  
        .topnav {
          overflow: hidden;
          position: relative;
        }
        
        .topnav #myLinks {
          display: none;
        }
        
        .topnav a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          display: block;
          text-shadow: 2px 2px #000;
        }
        
        .mobile-container {
          max-width: 480px;
          margin: auto;
          color: white;
          border-radius: 10px;
        }
  
        header nav ul{
            display: none;
      }
  }
  
  @media only screen and (min-width: 768px){

    header{
        background-color: cadetblue;
        opacity: 0.;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 15px 100px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      header ul{
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
      }
      
      header nav ul li{
          list-style: none;
          font-size: 22px;
          display: flex;
          padding: 10px 15px;
          position: relative;
      }
      header nav ul li a{
          text-shadow: 2px 2px #000;
      }
  
      header nav{
          margin: 0 auto;
      }
  
      header nav ul{
        display: flex;
      }
  
      .hide-menu{
        display: none;
      }
  
      header nav ul li a{
          text-shadow: 2px 2px #000;
      }
  }
  
  @media only screen and (min-width: 992px){

    header{
        background-color: cadetblue;
        opacity: 0.;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 15px 100px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      header ul{
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
      }
  
      .hide-menu {
          display: none;
      }
  
      header nav{
          margin: 0 auto;
      }
  
      header nav ul{
          display: flex;
      }
      
      header ul li{
          list-style: none;
          font-size: 22px;
          display: flex;
          padding: 10px 15px;
          position: relative;
      }
  
      header nav ul li a{
          text-shadow: 2px 2px #000;
      }
  }
  
  @media only screen and (min-width: 1200px){
    header{
        background-color: cadetblue;
        opacity: 0.;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 15px 100px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      header ul{
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
      }
      
      header ul li{
          list-style: none;
          font-size: 22px;
          display: flex;
          padding: 10px 15px;
          position: relative;
      }
  
      .hide-menu {
          display: none;
      }
  
      header nav{
          margin: 0 auto;
      }
  
      header nav ul{
        display: flex;
      }
  
      header nav ul li a{
          text-shadow: 2px 2px #000;
      }
  }
  
  /*Header Animaton*/
  header ul li a:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #f7f7f7;
      transform: scaleX(0);
      transition: all 0.5s;
      transform-origin: left;
  }
  
  header ul li a:hover:before, header ul li a:hover:after{
      transform: scaleX(1);
  }
  
  header ul li a:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #f7f7f7;
      transform: scaleX(0);
      transition: all 0.5s;
      transform-origin: right;
      cursor: url(./img/l-icon.ico)
  }
  
  header ul li a:hover{
      text-decoration: none;
      color: #f7f7f7;
  }
